* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
 width: 375px;
 height: 538px;
  padding: 24px;
  background-image: url(../assets/mobile/image-header.jpg);
  background-size: contain;
  }

.menu{
  display: flex;
  justify-content: space-between;
  width: 327px;
  height: 24px; 
  margin-bottom: 88px;
}

.arrow{
  width: 30px;
  height: 107px;
}